html {
  font-size: medium;
}
body {
  margin:10px;
  padding:0;
  border:0;
  background-image: linear-gradient(135deg, #373f70 42.86%, #444e8a 42.86%, #444e8a 50%, #373f70 50%, #373f70 92.86%, #444e8a 92.86%, #444e8a 100%);
  background-size: 49.50px 49.50px;
}
.logo {
  width: 100%;
  max-width: 360px;
}
.titulo {
  font-size: 33px;
  font-weight: bold;
}
.subtitulo {
  font-size: 21.7px;
}
.titulo, .subtitulo {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(28, 28, 28);
}
.activitylist {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.activitycard {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4);
  padding: 10px;
  transition: all 250ms ease-in-out;
  max-height: 1000px;
  position: relative;
}
.activitycard .plus {
  display: none;
  width: 100%;
  background-color: rgba(233, 233, 233, .85);
  backdrop-filter: blur(2px);
  height: 28px;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
}
.activitycard.collapsed {
  max-height: 198px;
  overflow-y:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
}
.activitycard.collapsed .plus {
  display: block;
}
.activitycard.Otros {
  box-sizing: border-box;
  border-width: 3px;
  border-color: #60369a;
  border-style: outset;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,219,251,1) 12%, rgba(195,195,249,1) 20%, rgba(255,255,255,1) 100%);
}

.flex {
  display: flex;
}
.flex > * {
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: 200px auto;
}
.title {
  font-size: 18px;
  font-weight: bold;
  background-color: #c4c4c4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.activitycard.Otros .title {
  background-color: #6404ea;
  color: #fff;
}

.justified {
  text-align: justify;
  text-justify: inter-word;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.footer {
  color: #fff;
}
.footer em {
  font-size: 12px;
}

progress {
  margin: 10px 0;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background-color:#fff;
  border: 1px solid #666;
  box-shadow: 0 0 0 1px #666;
  border-radius: 3px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
      -webkit-linear-gradient(top, 
                              rgba(255, 255, 255, .25), 
                              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, rgb(0, 177, 30), rgb(0, 177, 30));
  border-radius: 2px; 
  background-size: 35px 40px, 100% 100%, 100% 100%;
}

.progress-label {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-shadow:0 0 3px #fff, 0 0 1px #fff;
  font-family: Open Sans Condensed,sans-serif;
}

a, a:active, a:visited {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all 250ms ease-in-out;
}

a:hover {
  font-size: 16px;
}

@media only screen and (orientation: landscape) {
  .activitylist {
    grid-template-columns: 1fr 1fr;
  }
  /*
  .header {
    display: flex;
    align-items: center;
  }
  .header > * {
    flex-grow: 1;
  }
  */
}